  h1 {
    color: maroon;
    background-color: linen;
    text-align:center;
    /* image-orientation:  ; */

  }
body {
    background-color: linen;
    display:inline;
    align-items: center;
}

.center{
   display: flex;
   justify-content: center;
   /* flex-direction: column; */
   border: "1px solid red";
}

.button {
    height: 50px;
    width: 50px;
    border:"1px solid black";
    font-size:15px;

  
}

