  h1 {
    color: maroon;
    background-color: linen;
    text-align:center;
    /* image-orientation:  ; */

  }
body {
    background-color: linen;
    display:inline;
    align-items: center;
}

a {
button 
    height: 250px;
    width: 250px;
    border: black; 
    font-size:175px;
  
}

